.authentication {
  cursor: pointer;
}

.signForm {
  border: 2px solid indigo;
  border-radius: 30px
}

.forgot {
  margin-bottom: 35px !important;
  font-size: 130%;
}

.selected {
  font-weight: bold;
  color: indigo;
}

.todoButton {
  position: fixed;
  top: 90vh;
  left: 80vw;
}

.dashNav {
  margin-top: 3vh;
}

.todos {
  border: 2px solid indigo;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 30px;
  margin-bottom: 2vh;
}

.todoList {
  overflow-y: scroll;
  height: 72vh;
}

.newTodo {
  border: 1px solid black;
  border-radius: 25px;
}

.close {
  font-weight: bolder;
  cursor: pointer;
}